<a href="https://colab.research.google.com/github/ArtiPhadke/Arti_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1_ArtiPhadke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here

# Take input string from user
myString_aap =input("Enter a string of your choice: ")

# Calculate the length of string using len function
strLen_aap = len(myString_aap)

# Display the length of inputted string
print(f"Length of string '{myString_aap}' is {strLen_aap}")

Enter a string of your choice: In-class-exercise
Length of string 'In-class-exercise' is 17

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here

# Take input string from user
myString1_aap =input("Enter string of your choice: ")

# Convert the string into set for retaining only unique characters
mySet1_aap = set(myString1_aap)

# Create an empty dictionary
dict1_aap = {}

for i in mySet1_aap:
    # Fill the dictionary using unique characters and their counts
    dict1_aap[i] = myString1_aap.count(i)
    
# Print the dictionary elements
print(dict1_aap)

Enter string of your choice: google.com
{'e': 1, 'l': 1, 'c': 1, 'm': 1, 'g': 2, 'o': 3, '.': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here

# Create a list containing integers
myList_aap = [1,2,3,4,5,6]

# Create a variable to hold the sum
sum_aap = 0

# Loop through the list to calculate the sum
for i in myList_aap:
    sum_aap += i
    
# Display the sum
print('Sum of all the items in the list is', sum_aap)

Sum of all the items in the list is 21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [3]:
# write your answer here

# Take input string from user
myString1_aap =input("Enter string of your choice: ")

# Retrieve the first character
firstchar_aap = myString1_aap[0]

# Loop through the string to find the occurences of first character
for i in range(1, len(myString1_aap)):
        if myString1_aap[i] == firstchar_aap:
            # Replace the occurences with '$' character
            myString1_aap=myString1_aap[0:i]+'$'+myString1_aap[i+1:]

# Print the modified string
print(myString1_aap)

Enter string of your choice: restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [4]:
# write your answer here

# define a function to calculate the output result S, with 2 input values a and b
def calculate_aap(a,b):
    # Perform the multiplication
    S_aap = 3.14* ((1+ (a/b))**3)
    # return the value of S
    return S_aap

#  define the main function
def main():
    # Ask user to enter the value of a
    a = int(input("Enter value for a: "))
    
    # Ask user to enter the value of b
    b = int(input("Enter value for b: "))

    # Calculate the answer using calculate() function
    answer_aap = calculate_aap(a,b)

    # Display the answer to the user
    print("Answer = {:.2f}".format(answer_aap))

main()

Enter value for a: 5
Enter value for b: 7
Answer = 15.82

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
# write your answer here

# Creating the sample dictionaries
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

# Creating empty list
number_list1_aap = []

# Appending all the values from 3 dictionaries into list 
number_list1_aap.extend(dic1.values())
number_list1_aap.extend(dic2.values()) 
number_list1_aap.extend(dic3.values()) 

# Creating another empty list
number_list2_aap = []

# Appending all the keys from 3 dictionaries into list 
number_list2_aap.extend(dic1.keys())
number_list2_aap.extend(dic2.keys()) 
number_list2_aap.extend(dic3.keys()) 

# Mapping the keys to values
answer_dic_aap = {}
for var1, var2 in zip(number_list2_aap, number_list1_aap):
    answer_dic_aap[var1] = var2

# Printing the final dictionary
print(f' dic1 is : {dic1} \n dic2 is : {dic2} \n dic3 is : {dic3} ')
print(f' answer is: {answer_dic_aap}')

 dic1 is : {1: 10, 2: 20}
 dic2 is : {3: 30, 4: 40}
 dic3 is : {5: 50, 6: 60}
 answer is: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [6]:
# write your answer here

# Creating a tuple
myTuple_aap = (1,2,3,4,5,6,7)

# Input a number from user
myElem_aap = int(input("Enter a number: "))

# Checking if the elment exists in the tuple & write the output accordingly
if myElem_aap in myTuple_aap:
    print(f'{myElem_aap} exists in tuple {myTuple_aap}')
    
else:
    print(f'{myElem_aap} does not exist in tuple {myTuple_aap}')

Enter a number: 5
5 exists in tuple (1, 2, 3, 4, 5, 6, 7)

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [7]:
# write your answer here

# Creating a set
mySet_aap = set([1,2,3,5,3,2,5,3,7,9,9])

# Finding and printing minimum value from the set
print("Minimum value in my set is: ", min(mySet_aap))

# Finding and printing maximum value from the set
print("Maximum value in my set is: ", max(mySet_aap))

Minimum value in my set is:  1
Maximum value in my set is:  9

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [8]:
# write your answer here

import random

# Creating a list using given students
student_list_aap = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
                'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609',
                'ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']


# Create an empty list to hold first 30 integers in random order
li=range(0,30)
groups_list_aap = random.sample(li,30)

# List of first 30 numbers in random order
print(groups_list_aap)

# Creating 6 empty lists to hold group member names
stud_group_aap0 = []
stud_group_aap1 = []
stud_group_aap2 = []
stud_group_aap3 = []
stud_group_aap4 = []
stud_group_aap5 = []

# Fill the 6 empty lists, with 5 student names each, using group of 5 elements from the random order list
for i in range(0,5):
    stud_group_aap0.append(student_list_aap[i])

for i in range(5,10):
    stud_group_aap1.append(student_list_aap[i])
    
for i in range(10,15):
    stud_group_aap2.append(student_list_aap[i])
    
for i in range(15,20):
    stud_group_aap3.append(student_list_aap[i])
    
for i in range(20,25):
    stud_group_aap4.append(student_list_aap[i])
    
for i in range(25,30):
    stud_group_aap5.append(student_list_aap[i])
    
# Print the 6 group member names
print('Group 1 = ',stud_group_aap0)
print('Group 2 = ',stud_group_aap1)
print('Group 3 = ',stud_group_aap2)
print('Group 4 = ',stud_group_aap3)
print('Group 5 = ',stud_group_aap4)
print('Group 6 = ',stud_group_aap5)

[3, 2, 24, 4, 12, 23, 14, 22, 20, 28, 21, 1, 18, 16, 0, 13, 11, 8, 27, 19, 26, 15, 9, 25, 5, 6, 29, 10, 7, 17]
Group 1 =  ['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229']
Group 2 =  ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141']
Group 3 =  ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458']
Group 4 =  ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640']
Group 5 =  ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500']
Group 6 =  ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [9]:
# write your answer here
import numpy as np 

def main():
    # Create an array with few integers
    myArray_aap = np.array([11,12,14,13,12,11,10])
    # Calling the function to check for duplicate elements
    result_aap = checkMyarray(myArray_aap)
    # Calling the function to check for duplicate elements
    if result_aap == -1:
        print(f"{result_aap} is returned means there are no repeat elements ")
    else:
        print(f"There are {result_aap} repeated elements")

# Create a function to check if array has repeat elements
def checkMyarray(myArray_aap):
    count_aap = 0
    for i in range(0, len(myArray_aap)):
        for j in range(i+1, len(myArray_aap)):
            # if repeat elements are found, those are printed
            if myArray_aap[i] == myArray_aap[j]:
                print(f"Element {myArray_aap[i]} is repeated")
                count_aap+=1

    # return -1 if no repeats are found, else return the count of repeat elements            
    if count_aap == 0:
        return -1
    else:
        return count_aap
            
main()

Element 11 is repeated
Element 12 is repeated
There are 2 repeated elements

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here